<h1> Products </h1>
<ul>
  <% if @cart %>
    <% @cart.each do |item| %>
    <li><%= item %></li>
  <% end %>
<% end %>
</ul>

<%= form_for @product do |f|%>
<%= f.label :product %>
<%= f.text_field :product %>
<%= f.submit as: "Add to Cart" %>
<% end %>
