<h1> Products </h1>
<ul>
  <% if @cart %>
    <% @cart.each do |item| %>
    <li><%= item %></li>
  <% end %>
<% end %>
</ul>

<h1> Add a Product </h1>
<%= form_for @product, url: {action: "add"} do |f|%>
<%= f.label :product %>
<%= f.text_field :product %>
<%= f.submit "Add to Cart" %>
<% end %>
