<h1> Products </h1>
<ul>
  <% if @cart %>
    <% @cart.each do |item| %>
    <li><%= item %></li>
  <% end %>
<% end %>
</ul>

<h1> Add a Product </h1>
<%= form_tag('/', method: :post) do%>
<%= f.label :product %>
<%= f.text_field :product %>
<%= f.submit "Add to Cart" %>
<% end %>
